* {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGASI */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 16px 24px;
}

.logo {
    margin-left: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-wrapper>.navigasi {
    display: flex;
}

.header-wrapper>.navigasi>button {
    background-color: white;
    padding: 8px 16px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
}

.header-wrapper>.navigasi>button:hover {
    background-color: rgb(95, 104, 112);

}

.header-wrapper>.navigasi>button:first-child {
    border-radius: 4px 0 0 4px;
}

.header-wrapper>.navigasi>button:last-child {
    border-radius: 0 4px 4px 0;
}

@media only screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 14px;
    }
}


/* MAIN */
#nama {
    display: flex;
    align-content: center;
    margin-left: 6%;
}

.lukman {
    font-weight: 500;
    font-size: 25px;
}

.gambar {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}


.double-hr {
    padding-top: 30px;
}

.our {
    font-weight: 800;
    font-size: 25px;
}

.awalan {
    display: flex;
    align-content: center;
    margin-left: 6%;
}

.foto-kucing {
    display: flex;
    align-content: center;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nama-hewan {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-content: center;
    justify-content: space-evenly;
    gap: 70px;
}

#foto-profil {
    margin-bottom: 50px;
}

.awal-pesan {
    display: flex;
    align-content: center;
    margin-left: 6%;
}

.message {
    font-weight: 800;
    font-size: 25px;
}

.masukan {
    display: flex;
}

tr {
    margin-bottom: 10px;
}

/* footer */
.formulir {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
    margin-left: 85px;
}

input {
    border-radius: 5px;
    /* width: 20px; */
}

.kotak-pesan {
    border-radius: 5px;
}

.form-pesan {
    align-items: start;
}